<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container">

        <footer>
            <!-- this is footer -->
            © 2017 - 2018 dalafarm.com.vn
            <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script type="text/javascript"
            src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
            <script th:inline="javascript">
                //<![CDATA[
                $(document).ready(function(){
                    $('#orderTable').DataTable({
                        "order": [[ 0, "desc" ]],
                        "processing": true,
                        "serverSide": true,
                        "ajax": "/pagedOrders",
                        "aoColumns": [
                            {
                                "mData": "createdDate",
                                "render": function (data, type, row) {
                                    var date = new Date(data);
                                    var iso = date.toISOString().match(/(\d{4}\-\d{2}\-\d{2})T(\d{2}:\d{2}:\d{2})/)
                                    return (iso[1] + ' ' + iso[2]);
                                }
                            },
                            { "mData": "orderDetail.orderId"},
                            { "mData": "orderDetail.vendorOrderId"},
                            { "mData": "orderDetail.toPerson"},
                            { "mData": "orderDetail.dropTel"},
                            { "mData": "address"},
                            {
                                "mData": "orderDetail.grandTotal",
                                "render": $.fn.dataTable.render.number( ',', '.', 0, '', 'đ')
                            },
                            { "mData": "orderDetail.note"},
                            { "mData": "status"},
                            {
                                "mData": "products",
                                "render": function (data, type, row) {
                                    data.forEach(function (product) {
                                        product.quantity = row.orderProducts.filter(function (p) {
                                            return p.productId === product.id;
                                        })[0].quantity;
                                    });
                                    var html = "";
                                    html += "<table class=\"table table-striped\">\n" +
                                        "                            <tbody>\n";
                                    data.forEach(function (product) {
                                        html += "                                <tr>\n" +
                                            "                                    <td>" + product.name + "</td>\n" +
                                            "                                    <td>\n" +
                                            "                                          <span>" + product.quantity + "</span>\n" +
                                            "                                    </td>\n" +
                                            "                                </tr>\n";
                                    });
                                    html +=
                                        "                            </tbody>\n" +
                                        "                        </table>";
                                    return html;
                                }

                            },
                            {
                                "mData": "",
                                "render": function (data, type, row) {
                                    var html = "";
                                    if(row.orderDetail.statusId === 4){
                                        html += "<a href='/v1/order/" + row.id + "/activate'><button>Đăng GHTK</button></a>";
                                        html += "<a href='#'><button style='margin-top: 10px;' onclick='updateStatusToShipped(\"" + row.orderDetail.orderId + "\")'>Giao Trực Tiếp</button></a>";
                                    }
                                    return html;
                                }
                            }

                        ]
                    });
                });
                //]]>
            </script>
        </footer>
    </div>

</div>
</body>
</html>